<section class="content" *ngIf="(information | async) as general" >
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ general.routes}}</h3>
              <p>Total rutas</p>
            </div>
            <div class="icon">
              <i class="ion ion-md-navigate "></i>
            </div>
            <a routerLink="routes" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ general.vehicles }}<sup style="font-size: 20px"></sup></h3>
              <p>Total vehículos</p>
            </div>
            <div class="icon">
              <i class="ion ion-md-car  "></i>
            </div>
            <a routerLink="vehicles" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ general.clients }}</h3>
  
              <p>Total clientes</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-person"></i>
            </div>
            <a routerLink="clients" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ general.employees }}</h3>
  
              <p>Total cobradores</p>
            </div>
            <div class="icon">
              <i class="ion ion-md-cash"></i>
            </div>
            <a routerLink="employees" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      
    </div>
    <!-- /.container-fluid -->
</section>