<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                        [src]="user.photo.route|imagen"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ user.name }} {{ user.lastname }}</h3>

                <p class="text-muted text-center">{{ user.created_at|date }}</p>
                
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Ruta asignada</b> <a class="float-right" *ngIf="user.route" >{{ user.route.name }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>DNI</b> <a class="float-right">{{ user.dni }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Reputación</b> <a class="float-right" *ngIf="user.reputation" >{{ user.reputation }}</a>
                    </li>
                </ul>
                <a href="#" class="btn bg-teal btn-block"><b>Cambiar foto</b></a>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Acerca de</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fa fa-book mr-1"></i> Contacto</strong>

                <p class="text-muted">
                    {{ user.cellphone }}
                </p>

                <hr>

                <strong><i class="fa fa-map-marker mr-1"></i> Dirección</strong>

                <p class="text-muted">{{ user.address }}</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Prestamos </strong>

                <p class="text-muted">
                    
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Anotaciones</strong>

                <p class="text-muted">

                </p>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        
        <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Configuración</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">DNI</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="user.dni" name="dni" class="form-control edit" id="inputName" placeholder="DNI" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Nombres</label>
                            <div class="col-sm-10">
                            <input type="text" [(ngModel)]="user.name" name="name" class="form-control edit" id="inputName" placeholder="Nombres" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Apellidos</label>
                            <div class="col-sm-10">
                            <input type="text" name="lastname" [(ngModel)]="user.lastname" class="form-control edit" id="inputEmail" placeholder="Apellidos" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName2" class="col-sm-2 col-form-label">Celular</label>
                            <div class="col-sm-10">
                            <input type="text" name="cellphone" [(ngModel)]="user.cellphone" class="form-control edit" id="inputName2" placeholder="Número de celular" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputSkills" class="col-sm-2 col-form-label">Dirección</label>
                            <div class="col-sm-10">
                            <input type="text" name="address" [(ngModel)]="user.address" class="form-control edit" id="inputSkills" placeholder="Skills" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="button" class="btn btn-info" *ngIf="!habilitados"  (click)="habilitarCampos()">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button type="button" class="btn btn-warning" *ngIf="habilitados"  (click)="habilitarCampos()">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button type="submit" class="btn btn-danger float-right">Guardar</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>